	.menu_2 {width:100%; background:#f8f8f8; text-align:center; height:45px; position:relative; z-index:100;}
.menu_2 > span {display:none;}
.menu_2 input {position:absolute; display:none;}
.menu_2 label {display:none;}
.menu_2 ul {margin:0; padding:0; list-style:none; white-space:nowrap; text-align:left;}
.menu_2 ul {display:inline-block;} 
.menu_2 ul {*display:inline;}

.menu_2 li {margin:0; padding:0; list-style:none;}
.menu_2 li {display:inline-block; display:inline;}
.menu_2 ul ul {position:absolute; left:-9999px; border-left:1px solid #ddd; border-right:1px solid #ddd;}
.menu_2 > ul {margin:0 auto;}
.menu_2 > ul > li {float:left; display:block; position:relative;}
.menu_2 ul ul li a {border-top:1px solid #ddd}
.menu_2 > ul > li.has-sub > a {background-image:url(images/down.png); background-repeat: no-repeat; background-position: right center;}
.menu_2 ul ul > li.has-sub > a {background-image:url(images/right.png); background-repeat: no-repeat; background-position: right center;}
.menu_2 ul li.left ul > li.has-sub > a {background-image:url(images/left.png); background-repeat: no-repeat; background-position:left center;}

.menu_2 ul li b {display:block; width:100%; height:45px; background:transparent; position:relative; z-index:10;
-webkit-transition: 0s 0.5s;
transition: 0s 0.5s;
}
.menu_2 ul ul li b {margin-top:-45px;}

.menu_2 ul li b {*display:none;}

.menu_2 ul {background:#f8f8f8;}

.menu_2 a {display:block; font:normal 14px "PT Sans", arial, sans-serif; color:#333; line-height:45px; text-decoration:none; padding:0 30px 0 10px;}
.menu_2 > ul > li > a {float:left; text-transform:capitalize;}

.menu_2 ul li:hover > ul {visibility:visible; left:-1px; top:45px; opacity:1;}
.menu_2 ul ul li:hover > ul {visibility:visible; left:100%; top:auto; margin-top:-46px;}
.menu_2 li.left:hover > ul {visibility:visible; left:auto; right:-1px; top:45px;}
.menu_2 li.left ul li:hover > ul {visibility:visible; left:auto; right:100%; top:auto; margin-top:-46px;}
.menu_2 ul li:hover > b {width:0;}

.menu_2 li.left ul a {text-align:right; padding:0 10px 0 30px;}

.menu_2 li:hover > a,
.menu_2 li.left ul li:hover > a {background-color:#bbb; text-decoration:underline;}


@media only screen and (max-width:768px){
.menu_2 ul li b {display:none;}
.menu_2 {height:0; padding-top:45px; background:#F8F8F8; position:relative;}
.menu_2 > label {display:block; width:36px; height:36px; background:#ddd; border-radius:5px; position:absolute; right:10px; top:5px; cursor:pointer;}
.menu_2 > label:before {display:block; content:""; width:18px; height:2px; background:#000; position:absolute; left:50%; top:50%; margin-left:-9px; margin-top:-1px;
-webkit-transition:0.25s;
transition:0.25s
}
.menu_2 > label:after {display:block; content:""; width:2px; height:18px; background:#000; position:absolute; left:50%; top:50%; margin-left:-1px; margin-top:-9px;
-webkit-transition:0.25s;
transition:0.25s
}
.menu_2 > span {display:block; font:normal 14px "PT Sans", arial,sans-serif; color:#000; position:absolute; left:10px; top:15px;}

.menu_2 li {display:block;}
.menu_2 ul, 
.menu_2 ul ul {margin:0; display:block; position:static; max-height:0; overflow:hidden;
-webkit-transition:0.25s;
transition:0.25s;
}
.menu_2 > ul > li.has-sub > a {background-image:none;}
.menu_2 ul ul > li.has-sub > a {background-image:none;}
.menu_2 ul li.left ul > li.has-sub > a {background-image:none;}

.menu_2 ul li {float:none; display:block; position:relative;}
.menu_2 ul li label {display:block; width:36px; height:36px; background:#ddd; border-radius:5px; position:absolute; right:10px; top:5px; cursor:pointer;}
.menu_2 ul ul li label {margin-top:0;}

.menu_2 ul li label:before {display:block; content:""; width:18px; height:2px; background:#000; position:absolute; left:50%; top:50%; margin-left:-9px; margin-top:-1px;
-webkit-transition:0.25s;
transition:0.25s
}
.menu_2 ul li label:after {display:block; content:""; width:2px; height:18px; background:#000; position:absolute; left:50%; top:50%; margin-left:-1px; margin-top:-9px;
-webkit-transition:0.25s;
transition:0.25s
}

.menu_2 ul {background:#f8f8f8; border:0;}

.menu_2 a {display:block; font:normal 14px arial,sans-serif; color:#000; line-height:45px; text-decoration:none;padding:0 20px 0 10px;}
.menu_2 ul li a {float:none; border-top:1px solid #aaa;}
.menu_2 ul ul li a:before {content:""; display:block; width:15px; height:45px; background:url(images/right.png) no-repeat left 15px; float:left;}

.menu_2 ul ul li > ul {margin-top:0;}
.menu_2 li.left ul li > ul {margin-top:0;}

.menu_2 ul ul li:hover > ul {margin-top:0;}
.menu_2 li.left ul li:hover > ul {margin-top:0;}

.menu_2 li.left ul a {text-align:left; padding:0 20px 0 10px;}

.menu_2 li:hover > a,
.menu_2 li.left ul li:hover > a {background-color:#ccc; text-decoration:none;}

.menu_2 input:checked ~ label:before {
-webkit-transform:rotate(360deg);
transform:rotate(360deg);
}
.menu_2 input:checked ~ label:after {
-webkit-transform:rotate(270deg);
transform:rotate(270deg);
}

.menu_2 input:checked ~ ul {max-height:3000px;}

.menu_2 ul ul {border:0; margin:0 15px;}
